@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

:root {
    --scale: max(1rem, .5vw);
    --aspect-ratio: 9 / 16;
    --primary-color: #82D;
    --background-color: #222;
    --foreground-color: #444;
    --text-color: #FFF;
    --dark-color: #426;
    
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Khula', 'Red Hat Text', sans-serif;
    overflow-x: hidden;
}
@media (min-width: calc((100vh) * 16 / 9)) {
    :root {
        --aspect-ratio: 16 / 9;
    }
}

::selection {
    background-color: var(--primary-color);
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.75em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.25em;
}
h6 {
    font-size: 1em;
}

h1, h2, strong {
    font-weight: bold;
}


.fancy-button {
    appearance: none;
    height: 2.5rem;
    padding: 0 1.5rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: inherit;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: inherit;
    font-weight: bold;
    line-height: 2.85rem;
    cursor: pointer;
    display: inline-block;
}


#control_panel-mask {
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(transparent 33%, var(--background-color) 66%);
    position: fixed;
    left: 0;
    bottom: 0;
}

section#control_panel {
    width: 100%;
    max-width: 64rem;
    height: 8.5rem;
    margin: 0 auto;
    border-top: .1em solid #555;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
    background-color: var(--foreground-color);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4rem 2.5rem;
    gap: .5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


#communities-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 3.2rem);
    grid-template-rows: 3.2rem;
    gap: 1rem;
}

a.communitie-button {
    background-color: #333;
    border-radius: 40%;
    display: block;
    color: inherit;
    text-decoration: none;
    display: grid;
    place-items: center;
    grid-template-columns: minmax(0, 100%);
    transition: background-color 256ms;
}
a.communitie-button > * {
    grid-area: 1 / 1 / 2 / 2;
}
a.communitie-button:hover {
    background-color: #222;
}
a.communitie-button:hover .communitie-button-image {
    opacity: .75;
}

.communitie-button-image {
    width: 100%;
    height: 100%;
    border-radius: 35%;
}

.communitie-button-label {
    margin-bottom: -1.2rem;
    font-size: 1rem;
    line-height: 2.3ex;
    white-space: nowrap;
    text-align: center;
    place-self: end center;
    visibility: hidden;
}
a.communitie-button:hover .communitie-button-label {
    visibility: visible;
}

.communitie-button-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.communitie-button-icon path {
    fill: currentColor;
}



ul#page-navigation-navigator {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 1rem;
}

/* li.page-navigation-item {
    
} */


a.page-navigation-anchor {
    padding: .75rem 1rem;
    margin: -.75rem -1rem;
    border-radius: 1rem;
    color: inherit;
    text-align: center;
    display: inline-block;
    transition: background-color 255ms;
}
a.page-navigation-anchor:hover {
    background-color: #333;
}
a.page-navigation-anchor.is-active {
    background-color: #666;
}

a.page-navigation-anchor svg {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}
a.page-navigation-anchor svg > path {
    fill: currentColor;
}


#teste {
    margin: 0 auto;
}

div#teste > a {
    text-decoration: none;
    color: #fff;
    transition: background-color 255ms;
    padding: 1rem;
    border-radius: 1rem;
}

div#teste > a:hover {
    background-color: #333;
}
