:root {
    --scale: max(1rem, 1vw);
    --aspect-ratio: 9 / 16;
}
@media (min-width: calc((100vh) * 16 / 9)) {
    :root {
        --aspect-ratio: 16 / 9;
    }
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
}

* {
    box-sizing: border-box;
}


main {
    width: 100%;
    max-width: 100vw;
    display: grid;
    grid-template-rows: calc(100vh - 9rem) 9rem;
    overflow-x: hidden;
}

main > section {
    width: 100%;
    height: 100%;
}


#video_panel {
    padding: var(--scale);
    display: flex;
    place-items: center;
}

#video_player-wrapper-1 {
    width: 100%;
    max-height: 100%;
    aspect-ratio: var(--aspect-ratio);
    margin: auto;
    overflow: hidden; 
}

#video_player-wrapper-2 {
    height: 100%;
    margin: 0 auto;
    aspect-ratio: var(--aspect-ratio);
    background-color: #111;
    border-radius: var(--scale);
    overflow: hidden;
}

#video_player {
    width: 100%;
    height: 100%;
}


#control_panel {
    max-width: 64rem;
    margin: 0 auto;
    border-radius: var(--scale) var(--scale) 0 0;
    padding: var(--scale);
    background-color: #444;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4rem 2.5rem;
    gap: .5rem;
}

#video_interval-range {
    --start: 0;
    --end: 1;
    --value: 0;
    width: 100%;
    border-radius: var(--scale);
    background-color: #333;
    background-image: linear-gradient(90deg, #FFF 5%, transparent 5%);
    background-size: 1rem .2rem;
    background-repeat: repeat-x;
    background-position: center center;
    user-select: none;
    touch-action: none;
}

#video_interval-range-track {
    width: calc((var(--end) - var(--start)) * 100%);
    min-width: 3rem;
    height: 100%;
    margin-left: calc(var(--start) * 100%);
    border: .2rem solid #CCC;
    border-radius: var(--scale);
    background-color: #333;
    background-image: linear-gradient(90deg, #FFF 5%, transparent 5%);
    background-size: 1rem 1rem;
    background-repeat: repeat-x;
    background-position: center calc(100% - 5.3rem);
    display: flex;
    justify-content: space-between;
    background-attachment: fixed;
}

.video_interval-range-handle {
    width: 1.5rem;
    height: calc(100% + .4rem);
    margin-top: -.2rem;
    background-color: #AAA;
    border: .699rem solid #FFF;
    border-top-width: 1.4rem;
    border-bottom-width: 1.4rem;
    cursor: w-resize;
}

#video_interval-range-start_handle {
    margin-left: -.2rem;
    border-radius: var(--scale) 0 0 var(--scale);
}

#video_interval-range-end_handle {
    margin-right: -.2rem;
    border-radius: 0 var(--scale) var(--scale) 0;
    float: right;
}

#control_panel-controls {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: var(--scale);
}

#control_panel-controls > li {
    display: block;
    line-height: 2.5rem;
}

#control_panel-time {
    padding-right: 1rem;
    background-color: #333;
    border-radius: var(--scale);
    display: grid;
    grid-template-columns: 2.5rem auto;
    grid-template-rows: 2.5rem;
    gap: 1rem;
    overflow: hidden;
}

#play-button {
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: var(--scale);
    background-color: #222;
    display: grid;
    place-items: center;
    cursor: pointer;
    display: inline;
}

#play-button > svg {
    display: none;
    color: #FFF;
}
#play-button.play-state > .play-icon {
    display: block;
}
#play-button.pause-state > .pause-icon {
    display: block;
}


#choose_file-cover {
    width: 100%;
    height: 100%;
    background-color: #111;
    font-size: clamp(2rem, 10vw, 7vh);
    cursor: pointer;
    display: grid;
    place-items: center;
    place-content: center;
    position: fixed;
    left: 0;
    top: 0;
}


.botao_estilizado {
    appearance: none;
    height: 2.5rem;
    padding: 0 1.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #92F;
    color: #FFF;
    text-decoration: none;
    font-size: .9rem;
    font-family: inherit;
    font-weight: bold;
    line-height: 2.9rem;
    cursor: pointer;
    display: inline-block;
}
